.housedetails__reviews {
  flex-direction: column;
  border-radius: var(--border-radius-1);
  padding: 2rem 2.4rem;
}

.reviews__header {
  align-items: center;
}

.reviews__img-wrapper {
  border-radius: 50vw;
  overflow: hidden;
  height: 6rem;
  aspect-ratio: 1;
}

.reviews__img-wrapper img {
  height: 100%;
  object-fit: cover;
}

.reviews__description {
  padding-inline: 1.2rem;
}
