.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(
    --height-minus-navbar
  ); /* Ocupa el 100% de la altura de la vista */
}

.spinner .loader {
  border: 10px solid hsl(var(--clr-white)); /* Color de fondo */
  border-top: 10px solid hsl(var(--clr-primary)); /* Color del spinner */
  border-radius: 50%;
  width: 100px; /* Tamaño del spinner */
  height: 100px; /* Tamaño del spinner */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
