.section__housedetails {
  --gap: 6rem;
  grid-template-columns: 2fr 1fr;
  margin-inline: 14rem;
  height: var(--height-minus-navbar);
  margin-bottom: 2rem;
}

.housedetails__info {
  --gap: 0;
  flex-direction: column;
  justify-content: space-between;
}

.housedetails__img-wrapper {
  border-radius: 1rem;
  width: 100%;
  max-height: 320px;
  overflow: hidden;
  position: relative;
}

.housedetails__img-content {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.carousel .slide img {
  max-height: 320px;
  width: 100%;
  object-fit: cover;
}

.housedetails__header {
  justify-content: space-between;
  margin-inline: 2rem;
}

.housedetails__perks {
  justify-content: space-between;
  margin-inline: 2rem;
}

.housedetails__perk {
  display: flex;
  align-items: center;
}

.housedetails__perk-description {
  margin-left: 1rem;
}

.housedetails__description {
  --gap: 2rem;
  grid-template-columns: 2fr 1.5fr;
}

.housedetails__text {
  flex-direction: column;
  justify-content: space-between;
}

.housedetails__cta {
  --gap: 2rem;
  margin-top: auto;
}

.housedetails__btn {
  --gap: 0.8rem;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: var(--border-radius-1);
  margin-top: 4rem;
}

.housedetails__map-wrapper {
  overflow: hidden;
  border-radius: var(--border-radius-1);
}

.housedetails__map-wrapper img {
  height: 100%;
}

.housedetails__reviews {
  --gap: 1.8rem;
  flex-direction: column;
  background-color: hsl(var(--clr-gray), 0.1);
  border-radius: var(--border-radius-1);
  padding: 3rem 2rem;
  flex-direction: column;
  overflow-y: auto;
}

.housedetails__reviews-title {
  margin-bottom: 2rem;
}
