/* ------------------- */
/* Reset               */
/* ------------------- */

/* Evita problemas con z-index */
#root,
#__next {
  isolation: isolate;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Evita el ajuste automatico en diferentes navegadores */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Eliminar Margen Predeterminado en Elementos Comunes */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  overflow-wrap: break-word;
}

/* Eliminar Estilos de Lista en ul y ol  */
ul,
ol {
  list-style: none;
}

/* Limpia los estilos para links */
a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: currentColor;
}

/* Valores perdeterminados para body */
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

/* Para evitar alturas de linea predeterminadas */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Distribuye mejor las palabras en los elementos h */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Cubre el espacio total del elemento */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Hereda el font family */
input,
button,
textarea,
select {
  font: inherit;
}

/* Ajuste de Altura en textareas sin atributo rows */
textarea:not([rows]) {
  min-height: 10em;
}

/* Margen de Desplazamiento en Objetivos de Anclaje */
:target {
  scroll-margin-block: 5ex;
}

/* remueve las animaciones para personas con discapacidad visual */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
