/* ------------------- */
/* Reset               */
/* ------------------- */

/* Evita problemas con z-index */
#root,
#__next {
  isolation: isolate;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Evita el ajuste automatico en diferentes navegadores */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%; /* 10px */
}

/* Eliminar Margen Predeterminado en Elementos Comunes */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  overflow-wrap: break-word;
}

/* Eliminar Estilos de Lista en ul y ol  */
ul,
ol {
  list-style: none;
}

/* Limpia los estilos para links */
a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: currentColor;
}

/* Valores perdeterminados para body */
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-family: var(--ff-sans-normal);
}

/* Para evitar alturas de linea predeterminadas */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Distribuye mejor las palabras en los elementos h */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Cubre el espacio total del elemento */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Hereda el font family */
input,
button,
textarea,
select {
  font: inherit;
}

/* Ajuste de Altura en textareas sin atributo rows */
textarea:not([rows]) {
  min-height: 10em;
}

/* Margen de Desplazamiento en Objetivos de Anclaje */
:target {
  scroll-margin-block: 5ex;
}

/* remueve las animaciones para personas con discapacidad visual */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* font-families */
  --ff-sans-cond: "Roboto Condensed";
  --ff-sans-normal: "Roboto";
  --ff-sans-serif: sans-serif;

  /* colors */
  --clr-dark: 267, 100%, 4%;
  --clr-gray: 0, 0%, 32%;
  --clr-white: 0, 0%, 100%;
  --clr-primary: 155, 75%, 16%;
  --clr-secondary: 65, 67%, 42%;
  --clr-accent: 38, 59%, 83%;
}

/* ------------------- */
/*   Utility classes   */
/* ------------------- */

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-gray {
  background-color: hsl(var(--clr-gray));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.bg-primary {
  background-color: hsl(var(--clr-primary));
}

.bg-secondary {
  background-color: hsl(var(--clr-secondary));
}

.bg-accent {
  background-color: hsl(var(--clr-accent));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-gray {
  color: hsl(var(--clr-gray));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-primary {
  color: hsl(var(--clr-primary));
}

.text-secondary {
  color: hsl(var(--clr-secondary));
}

.text-accent {
  color: hsl(var(--clr-accent));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-cond {
  font-family: var(--ff-sans-cond);
}
.ff-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.fw-1 {
  font-weight: 300;
}
.fw-2 {
  font-weight: 400;
}
.fw-3 {
  font-weight: 500;
}
.fw-4 {
  font-weight: 700;
}
